$multiplier: 5;

// Colours
$background-color: rgb(232, 232, 106);
$dark-grey: #404042;
$light-grey: #717171;
$joycon-right-color: #ff6356;
$joycon-left-color: #05bfdf;
$screen-colour: #45484d;
$shadow: rgba($screen-colour, 0.2);
$button-outer-shadow: 0 1px * $multiplier 0 0 $shadow;
$joycon-outer-shadow: 0 1.5px * $multiplier 0 0 $shadow;
$bottom-shadow: inset 0 -3px * $multiplier 0 0 $shadow;

// General Console
$console-height: 102px * $multiplier;
$middle-width: 173px * $multiplier;
$full-width: 239px * $multiplier;
$left-and-right-width: ($full-width - $middle-width)/2;

// Screen
$screen-height: 85px * $multiplier;
$screen-width: 152px * $multiplier;
$screen-border-radius: 5px;
$reflection-height: 5px * $multiplier;
$reflection-1-width: 50px * $multiplier;
$reflection-2-width: 18px * $multiplier;

// Joycons
$joycon-border-radius: 40px;
$joystick-size: 18px * $multiplier;
$button-size: 7px * $multiplier;
$small-button-distance-from-middle: 8px * $multiplier;
$small-button-size: 6px * $multiplier;
@function middle-of-joycon($size) {
  @return $left-and-right-width/2 - $size/2;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@mixin middle-with-flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  @include middle-with-flex();
  height: 100vh;
  margin: 0;
  background-color: $background-color;
}

#container {
  display: flex;
}

#left,
#right {
  width: $left-and-right-width;
  height: $console-height;
  z-index: 2;
}

.joystick {
  height: $joystick-size;
  width: $joystick-size;
  border-radius: 50%;
  background-color: $dark-grey;
  box-shadow: inset 0 0 0 (1px * $multiplier) $dark-grey,
    inset 0 0 0 2px * $multiplier $light-grey, $joycon-outer-shadow;
  position: absolute;
  left: middle-of-joycon($joystick-size);
}

.button {
  width: $button-size;
  height: $button-size;
  background-color: $dark-grey;
  border-radius: 50%;
  box-shadow: $button-outer-shadow;
  @include middle-with-flex();
}

#left {
  background-color: $joycon-left-color;
  border-radius: $joycon-border-radius 0 0 $joycon-border-radius;
  position: relative;
  box-shadow: -1px * $multiplier -4px * $multiplier 0 -2px * $multiplier black,
    $bottom-shadow;

  #minus-button {
    background-color: $dark-grey;
    height: 2px * $multiplier;
    width: 6px * $multiplier;
    position: absolute;
    top: $joystick-size/2;
    right: 3px * $multiplier;
  }

  .joystick {
    top: $joystick-size;
  }

  #d-pad {
    position: absolute;
    left: middle-of-joycon($button-size * 3);
    top: $console-height * (7/15);
    display: grid;
    grid-template-areas:
      ". up ."
      "left . right"
      ". down .";

    .button .arrow {
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $light-grey;
      border-left-width: 1.75px * $multiplier;
      border-right-width: 1.75px * $multiplier;
      border-bottom-width: 2.5px * $multiplier;
    }

    .up {
      grid-area: up;

      .arrow {
        margin-bottom: 1px * $multiplier;
      }
    }
    .right {
      grid-area: right;

      .arrow {
        transform: rotate(90deg);
        margin-left: 1px * $multiplier;
      }
    }
    .down {
      grid-area: down;

      .arrow {
        transform: rotate(180deg);
        margin-top: 1px * $multiplier;
      }
    }
    .left {
      grid-area: left;

      .arrow {
        transform: rotate(-90deg);
        margin-right: 1px * $multiplier;
      }
    }
  }

  #screenshot {
    width: $small-button-size;
    height: $small-button-size;
    background-color: $dark-grey;
    border-radius: 2px;
    @include middle-with-flex();
    position: absolute;
    right: $small-button-distance-from-middle;
    bottom: $joystick-size + 10px;

    .inner {
      width: 80%;
      height: 80%;
      border-radius: 50%;
      border: 1px/3 * $multiplier solid $light-grey;
      border-color: $light-grey;
    }
  }
}

#right {
  background-color: $joycon-right-color;
  border-radius: 0 $joycon-border-radius $joycon-border-radius 0;
  position: relative;
  box-shadow: 1px * $multiplier -4px * $multiplier 0 -2px * $multiplier black,
    $bottom-shadow;

  #plus-button {
    width: $small-button-size;
    height: $small-button-size;
    background-color: $joycon-right-color;
    background: linear-gradient($dark-grey, $dark-grey),
      linear-gradient($dark-grey, $dark-grey), $joycon-right-color;
    background-position: center;
    background-size: 100% 2px * $multiplier, 2px * $multiplier 100%; // Thank you stack overflow
    background-repeat: no-repeat;
    position: absolute;
    top: ($joystick-size/2 - 9px);
    left: 10px;
  }

  #abxy {
    position: absolute;
    right: middle-of-joycon($button-size * 3);
    top: $joystick-size;
    display: grid;
    grid-template-areas:
      ". x ."
      "y . a"
      ". b .";
    color: $light-grey;
    font-size: 4px * $multiplier;

    .a {
      grid-area: a;

      &::before {
        content: "A";
      }
    }
    .b {
      grid-area: b;

      &::before {
        content: "B";
      }
    }
    .x {
      grid-area: x;

      &::before {
        content: "X";
      }
    }
    .y {
      grid-area: y;

      &::before {
        content: "Y";
      }
    }
  }

  .joystick {
    top: $console-height * (7/15);
  }

  #home {
    width: $small-button-size;
    height: $small-button-size;
    background-color: $light-grey;
    border-radius: 50%;
    @include middle-with-flex();
    flex-direction: column;
    position: absolute;
    left: $small-button-distance-from-middle;
    bottom: $joystick-size + 10px;

    .roof {
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-bottom-color: $dark-grey;
      border-left-width: 2px * $multiplier;
      border-right-width: 2px * $multiplier;
      border-bottom-width: 2px * $multiplier;
    }
    .main-building {
      background-color: $light-grey;
      width: 3px * $multiplier;
      height: 2px * $multiplier;
      box-shadow: inset 0 -1px/3 * $multiplier 0 2px/3 * $multiplier $dark-grey;
      margin-bottom: 1px * $multiplier;
    }
  }
}

#middle {
  background-color: black;
  width: $middle-width;
  height: $console-height;
  @include middle-with-flex();
  position: relative;
  box-shadow: $bottom-shadow;

  .screen-cutaway {
    position: absolute;
    top: -3px * $multiplier;
    border-radius: 50%;
    background-color: $background-color;
    height: 7px * $multiplier;
    width: 7px * $multiplier;

    &.cutaway-right {
      right: -3px * $multiplier;
    }

    &.cutaway-left {
      left: -3px * $multiplier;
    }
  }

  #screen {
    height: $screen-height;
    width: $screen-width;
    background-color: $screen-colour;
    border-radius: $screen-border-radius;
    position: relative;

    .reflection {
      position: absolute;
      background-color: whitesmoke;
      border-radius: 17px * $multiplier;
      height: $reflection-height;
      top: 5px * $multiplier;

      &.reflection-1 {
        width: $reflection-1-width;
        left: 5px * $multiplier;
      }

      &.reflection-2 {
        width: $reflection-2-width;
        left: 5px * $multiplier + $reflection-1-width + 5px * $multiplier;
      }
    }
  }
}
